<header class="masthead">
	<div class="container px-4 px-lg-5 h-100">
		<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-8 align-self-end">
				<h1 class="text-white font-weight-bold">Score your seats to the game of a lifetime</h1>
				<hr class="divider" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<a class="btn btn-primary btn-xl" href="#services">Upcoming Events</a>
			</div>
		</div>
	</div>
</header>
<section class="section-upcoming-events">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-header">
					<h2>UPCOMING EVENTS</h2>
					<p>Lorem ipsum dolor sit amet, exerci tation ullamcorper suscipit lobortis nisl ut.</p>
					<a href="#">See All Upcoming Events</a>
				</div>
			</div>
			<div class="col-12">
				<div class="section-content">
					<ul class="row list-unstyled g-1">
						<li class="col-12 col-sm-6 col-lg-4 mb-4">
							<div class="card h-100">
								<a href="#">
									<img src="https://myticket.kenzap.com/wp-content/uploads/2017/05/SH0233-390x280.jpg" class="card-img-top" alt="">
								</a>
								<div class="card-body">
									<div class="date mb-2">
										<a href="#">
											<span class="day">01</span>
											<span class="month">Aug</span>
											<span class="year">2019</span>
										</a>
									</div>
									<h5 class="card-title"><a href="/upcoming-events/">Squash Junior Tournament</a></h5>
									<p class="card-text">Squash Open Cube Dallas</p>
									<div class="price mb-3">
										<span class="txt"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>87.00</span></span>
									</div>
									<a href="#" class="btn btn-primary btn-sm">Sold Out</a>
								</div>
							</div>
						</li>
						<li class="col-12 col-sm-6 col-lg-4 mb-4">
							<div class="card h-100">
								<a href="#">
									<img src="https://myticket.kenzap.com/wp-content/uploads/2017/05/SH0233-390x280.jpg" class="card-img-top" alt="">
								</a>
								<div class="card-body">
									<div class="date mb-2">
										<a href="#">
											<span class="day">01</span>
											<span class="month">Aug</span>
											<span class="year">2019</span>
										</a>
									</div>
									<h5 class="card-title"><a href="/upcoming-events/">Squash Junior Tournament</a></h5>
									<p class="card-text">Squash Open Cube Dallas</p>
									<div class="price mb-3">
										<span class="txt"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>87.00</span></span>
									</div>
									<a href="#" class="btn btn-primary btn-sm">Sold Out</a>
								</div>
							</div>
						</li>
						<li class="col-12 col-sm-6 col-lg-4 mb-4">
							<div class="card h-100">
								<a href="#">
									<img src="https://myticket.kenzap.com/wp-content/uploads/2017/05/SH0233-390x280.jpg" class="card-img-top" alt="">
								</a>
								<div class="card-body">
									<div class="date mb-2">
										<a href="#">
											<span class="day">01</span>
											<span class="month">Aug</span>
											<span class="year">2019</span>
										</a>
									</div>
									<h5 class="card-title"><a href="/upcoming-events/">Squash Junior Tournament</a></h5>
									<p class="card-text">Squash Open Cube Dallas</p>
									<div class="price mb-3">
										<span class="txt"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>87.00</span></span>
									</div>
									<a href="#" class="btn btn-primary btn-sm">Sold Out</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section" id="about">
	<div class="container px-4 px-lg-5">
		<h2 class="text-center mt-0">Upcoming Events</h2>
		<hr class="divider" />
		<div class="row gx-4 gx-lg-5 justify-content-between">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Sturdy Themes</h3>
					<p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Up to Date</h3>
					<p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Ready to Publish</h3>
					<p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
	<div class="container px-4 px-lg-5 text-center">
		<h2 class="mb-4">Free Download at Start Bootstrap!</h2>
	</div>
</section>
<!-- Contact-->
