<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Editing ticket</h1>
	<%= link_to admin_tickets_path, class: "d-none d-sm-inline-block btn btn-secondary shadow-sm" do %>
		<i class="fas fa-angle-left"></i> Back to tickets
	<% end %>
</div>
<%= render "form", ticket: @ticket %>
<div class="text-center mb-5">
	<%= link_to "Show this ticket", admin_ticket_url(@ticket), class: "btn btn-outline-primary" %>
</div>
