<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Ticket Show</h1>
	<%= link_to admin_tickets_path, class: "d-none d-sm-inline-block btn btn-secondary shadow-sm" do %>
		<i class="fas fa-angle-left"></i> Back to tickets
	<% end %>
</div>
<%= render @ticket %>
<div class="text-center mb-4">
	<%= link_to "Edit ", edit_admin_ticket_path(@ticket), class: "btn btn-info" %>
	<%= link_to "Destroy", admin_ticket_url(@ticket), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete #{@ticket.name}?"} %>
</div>
