<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Categories</h1>
	<%= link_to new_admin_category_path, class: "d-none d-sm-inline-block btn btn-primary shadow-sm" do %>
		<i class="fas fa-plus"></i> Add Category
	<% end %>
</div>
<div class="row">
	<div class="col-lg-6 mx-auto">
		<!-- Dropdown Card Example -->
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">List of Categories</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Dropdown Header:</div>
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div id="admin_categories">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">S/N</th>
								<th scope="col">Name</th>
								<th scope="col" class='text-center'>Action</th>
							</tr>
						</thead>
						<tbody>
							<% @categories.each_with_index do |category, index| %>
								<tr>
									<th scope="row"><%= index + 1 %></th>
									<td><%= category.name %></td>
									<td class="text-center">
										<span class='badge badge-danger'>
											<%= link_to "Delete", admin_category_path(category), class: "swal-delete-method text-decoration-none text-white", data: { turbo_method: :delete, confirm_swal: "~#{category.name}~ Category? will be deleted!"} %>
										</span>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
