<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">New Category</h1>
	<%= link_to admin_categories_path, class: "d-none d-sm-inline-block btn btn-secondary shadow-sm" do %>
		<i class="fas fa-angle-left"></i> Back to Categories
	<% end %>
</div>
<%= render "form", admin_category: @admin_category %>
