<!DOCTYPE html>
<html>
	<head>
		<title>Email Confirmation</title>
		<style>
			/* Add your custom styles here */
			#logo {
			  display: block;
			  margin: 0 auto;
			  width: 200px;
			}
			h1 {
			  text-align: center;
			}
			p {
			  margin: 1em 0;
			}
		</style>
	</head>
	<body>
		<img id="logo" src="https://example.com/logo.png" alt="Logo">
		<h1>Email Confirmation</h1>
		<p>Dear <%= @username %>,</p>
		<p>Thank you for signing up for our service! We're excited to have you join our community.</p>
		<p>To get started, you'll need to confirm your email address. This is an important step to ensure that we have the correct information and that you have access to all of our features.</p>
		<p>Please click on the link below to confirm your account email:</p>
		<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
		<p>Once you've confirmed your email, you'll be able to log in to your account and start exploring our platform. We have a wide range of features and tools available to help you achieve your goals, from personalized recommendations to interactive forums and more.</p>
		<p>If you have any questions or concerns, please don't hesitate to reach out to our support team. We're here to help and support you every step of the way.</p>
		<p>Thank you again for joining us, and we look forward to seeing you on our platform!</p>
		<p>Best regards,</p>
		<p>The SMS Team</p>
	</body>
</html>
